{% extends "_layouts/cp" %}
{% import "_includes/forms"as forms %}

{% set title = "Locations - Add / Edit"|t %}

{% set fullPageForm = true %}

{% set tabs = {
    locations: { label: 'Locations'|t, url: url('locations') },
    import: { label: 'Import'|t, url: url('locations/import') },
    export: { label: 'Export'|t, url: url('locations/export') },
    settings: { label: "Settings"|t, url: craft.plugins.getPlugin('locations').getSettingsUrl }
} %}

{% set crumbs = [
    { label: "Locations"|t, url: url('locations') },
    { label: location.name|t, url: url(craft.request.url) },
] %}

{% block content %}

    {% if craft.app.version < 2.5 %}
        <form id="form-location" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ continueEditingUrl }}">
    {% endif %}

        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="locations/location/save">
        <input type="hidden" name="redirect" value="locations">
        {% if location.id %}
            <input type="hidden" name="locationId" value="{{ location.id }}">
            <input type="hidden" name="elementId" value="{{ location.elementId }}">
        {% endif %}

        {% if location and location.getAllErrors()|length %}
            <ul>
                {% for error in location.getAllErrors() %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {# NOT doing anything in javascript yet, so commented out #}
        {# {{ forms.selectField({
            first: true,
            label: "Priority"|t,
            required: true,
            id: 'priority',
            name: 'priority',
            instructions: "Choose a priority for the display order."|t,
            autofocus: true,
            options: {
                0: 'Normal',
                1: 'Featured',
                2: 'Always Shown'
            },
            value: location ? location.priority : 0,
            errors: location ? location.getErrors('priority')
        }) }} #}

        {{ forms.textField({
            label: "Name"|t,
            id: 'name',
            class: 'nicetext',
            name: 'name',
            value: location ? location.name : '',
            errors: location.getErrors('name'),
            required: true
        }) }}

        {{ forms.textField({
            label: "Address 1"|t,
            id: 'address1',
            class: 'nicetext',
            name: 'address1',
            value: location ? location.address1 : '',
            errors: location.getErrors('address1'),
            required: true
        }) }}

        {{ forms.textField({
            label: "Address 2"|t,
            id: 'address2',
            class: 'nicetext',
            name: 'address2',
            value: location ? location.address2 : '',
            errors: location.getErrors('address2'),
            required: false
        }) }}

        {{ forms.textField({
            label: "City"|t,
            id: 'city',
            class: 'nicetext',
            name: 'city',
            value: location ? location.city : '',
            errors: location.getErrors('city'),
            required: true
        }) }}

        {{ forms.textField({
            label: "State"|t,
            id: 'state',
            class: 'nicetext',
            name: 'state',
            value: location ? location.state : '',
            errors: location.getErrors('state'),
            required: true
        }) }}

        {{ forms.textField({
            label: "Zip Code"|t,
            id: 'zipCode',
            class: 'nicetext',
            name: 'zipCode',
            value: location ? location.zipCode : '',
            errors: location.getErrors('zipCode'),
            required: true
        }) }}

        {{ forms.textField({
            label: "Country"|t,
            id: 'country',
            class: 'nicetext',
            name: 'country',
            value: location ? location.country : '',
            errors: location.getErrors('country'),
            required: true
        }) }}

        {{ forms.textField({
            label: "Longitude"|t,
            id: 'longitude',
            instructions: "This will be created automatically if left blank."|t,
            class: 'nicetext',
            name: 'longitude',
            value: location ? location.longitude : '',
            errors: location.getErrors('longitude'),
            required: false
        }) }}

        {{ forms.textField({
            label: "Latitude"|t,
            id: 'latitude',
            instructions: "This will be created automatically if left blank."|t,
            class: 'nicetext',
            name: 'latitude',
            value: location ? location.latitude : '',
            errors: location.getErrors('latitude'),
            required: false
        }) }}

        {{ forms.textField({
            label: "Phone"|t,
            id: 'phone',
            class: 'nicetext',
            name: 'phone',
            value: location ? location.phone : '',
            errors: location.getErrors('phone'),
            required: false
        }) }}

        {{ forms.textField({
            label: "Website"|t,
            id: 'website',
            class: 'nicetext',
            name: 'website',
            value: location ? location.website : '',
            errors: location.getErrors('website'),
            required: false
        }) }}

    {% if craft.app.version < 2.5 %}
        </form>
    {% endif %}

{% endblock %}