{% extends "_layouts/cp" %}

{% set title = "Locations - Locations"|t %}

{% set tabs = {
    locations:  { label: "Locations"|t, url: url('locations') },
    settings:   { label: "Settings"|t, url: url('locations/settings') },
    import:     { label: "Import"|t, url: url('locations/import') },
    export:     { label: "Export"|t, url: url('locations/export') }
} %}
{% set selectedTab = 'locations' %}

{% set content %}

  	<div id="nolocations" class="{{ locations ? 'hidden' }}">
		<p>{{ 'No locations exist yet.'|t }}</p>
	</div>

	{% if locations | length %}
		<table id="locations" class="data fullwidth collapsible">
			<thead>
				<th scope="col">{{'Name' |t }}</th>
				<th scope="col">{{'Address' |t }}</th>
				<th scope="col">{{'Country' |t }}</th>
				<th scope="col">{{'Website' |t }}</th>
				<td class="thin"></td>
			</thead>
			<tbody>
				{% for location in locations %}
					<tr data-id="{{ location.id }}" data-name="{{ location.name |t }}">
						<th scope="row" data-title="{{ 'Name'|t }}">
							<a href="{{ url('locations/location/' ~ location.id) }}">{{ location.name |t }}</a>
						</th>
						<td data-title="{{'Address' |t }}">
							<code>
								{{location.city ~ ','|t ~ location.state ~ ' '|t ~ location.zipCode}}
							</code>
						</td>
						<td data-title="{{'Country' |t }}">
							<code>
								{{location.country}}
							</code>
						</td>
						<td data-title="{{'Website' |t }}">
							<a href="{{location.website}}" target="_blank">{{ location.website }}</a>
						</td>

						<td class="thin"><a class="delete icon" title="{{ 'Delete'|t }}" role="button"></a></td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}

	<div id="addlocation" class="buttons">
		<a href="{{ url('locations/location/add') }}" class="btn submit add icon">{{ 'Add New Location'|t }}</a>
	</div>
    
{% endset %}

{% set js %}
	var adminTable = new Craft.AdminTable({
		tableSelector: '#locations',
		noObjectsSelector: '#nolocations',
		newObjectBtnSelector: '#addlocation',
		deleteAction: 'locations/location/deleteLocation',
		confirmDeleteMessage: '{{ 'Are you sure you want to delete “{name}”?'|t }}'
	});
{% endset %}
{% includeJs js %}