{% extends "_layouts/cp" %}
{% import '_includes/forms' as forms %}

{% set fullPageForm = true %}

{% set title = "Locations - Settings"|t %}

{% set tabs = {
    locations:  { label: "Locations"|t, url: url('locations') },
    settings:   { label: "Settings"|t, url: url('locations/settings') },
    import:     { label: "Import"|t, url: url('locations/import') },
    export:     { label: "Export"|t, url: url('locations/export') }
} %}
{% set selectedTab = 'settings' %}

{% set content %}

    {% if craft.app.version < 2.5 %}
        <form id="site-form" method="post" accept-charset="UTF-8" data-saveshortcut="1" data-saveshortcut-redirect="{{ continueEditingUrl }}">
    {% endif %}

        {{ getCsrfInput() }}
        <input type="hidden" name="action" value="locations/settings/saveSettings" />

        {{ forms.textField({
            first:        true,
            label:        "Google Api Key"|t,
            required:     true,
            id:           'googleMapsApiKey',
            name: 'googleMapsApiKey',
            instructions: "Please add your google api key. This will not work without one."|t,
            autofocus:    true,
            value: settings.googleMapsApiKey
        }) }}

        {{ forms.textareaField({
            label:        "Not Found Text"|t,
            required:     true,
            id:           'notFoundText',
            name: 'notFoundText',
            instructions: "Text to display when no dealers are found."|t,
            autofocus:    true,
            value: settings.notFoundText
        }) }}

        {{ forms.textField({
            label:        "Default Zip"|t,
            required:     true,
            id:           'defaultZip',
            name: 'defaultZip',
            instructions: "This zip code will be used on page load."|t,
            autofocus:    true,
            value: settings.defaultZip
        }) }}

        {{ forms.textField({
            label:        "Default Search Radius"|t,
            required:     true,
            id:           'defaultRadius',
            name: 'defaultRadius',
            instructions: "Radius for search in miles."|t,
            autofocus:    true,
            value: settings.defaultRadius
        }) }}

        <div class="field">
            <div class="heading">
                <label for="useGeoLocation">{{'Use Geolocation' |t}}</label>
                <div class="instructions">
                    <p>{{'Use the users current location on page load. **Your site MUST use the https protocol or this will NOT work.'|t}}</p>
                </div>
            </div>
            {{ forms.lightSwitch({
                label:        "Use Geolocation"|t,
                required:     false,
                id:           'useGeoLocation',
                name: 'useGeoLocation',
                on: (settings.useGeoLocation is defined) ? settings.useGeoLocation : ""
            }) }}
        </div>

        <div class="field">
            <div class="heading">
                <label for="useYourOwnJavascriptFile">{{'Use Your Own Javascript File' |t}}</label>
                <div class="instructions">
                    <p>{{'Use your own javascript file to add the locations functionality.'|t}}</p>
                </div>
            </div>
            {{ forms.lightSwitch({
                label:        "Use Your Own Javascript File"|t,
                required:     false,
                id:           'useYourOwnJavascriptFile',
                name: 'useYourOwnJavascriptFile',
                on: (settings.useYourOwnJavascriptFile is defined) ? settings.useYourOwnJavascriptFile : ""
            }) }}
        </div>

        {{ forms.textField({
            label:        "API Path"|t,
            required:     true,
            id:           'dataApiPath',
            name: 'dataApiPath',
            instructions: "The path to your data source. Chances are you don't need to change this..."|t,
            autofocus:    true,
            value: settings.dataApiPath
        }) }}

        <!-- Needed for for Craft < 2.5 -->
        {% if craft.app.version < 2.5 %}
            <div class="item" data-position="left" data-colspan="1">
                <div class="buttons">
                    <div class="btngroup submit first">
                        <input type="submit" class="btn submit" value="{{ 'Save'|t }}">
                    </div>
                </div>
            </div>
        {% endif %}

    {% if craft.app.version < 2.5 %}
        </form>
    {% endif %}

{% endset %}